.App {
  text-align: center;
  width: 100%;
  height: 100%;
}
/* header section */
.header-section {
  position: relative;
  width: 100%;
  height: 500px;
}

.background-wrapper {
  height: 370px; 
  background: var(--bg-color);
}

.header-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
